body {
  font-family: 'Calibri', sans-serif;
}
.post-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 950px;
  margin: 0 auto;
}
.post-wrapper__post {
  width: calc(33% - 20px);
  max-width: 350px;
  min-height: 240px;
  margin: 10px;
  background: #eee;
  position: relative;
  transition: 0.5s;
}
.post-wrapper__post img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  filter: grayscale(1);
}
.post-wrapper__post h3, .post-wrapper__post b, .post-wrapper__post__date, .post-wrapper__post__category {
  z-index: 9;
}
.post-wrapper__post h3 {
  padding: 50px 20px;
}
.post-wrapper__post h3:before {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  margin-bottom: 20px;
  background: pink;
  transition: 0.5s;
}
.post-wrapper__post b {
  position: absolute;
  bottom: 20px;
  right: 60px;
  color: #0052cc;
  font-size: 0.8em;
  transition: 0.5s;
  cursor: pointer;
}
.post-wrapper__post__date, .post-wrapper__post__category {
  padding: 20px;
  position: absolute;
  top: 0;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
}
.post-wrapper__post__category {
  right: 0;
}
/*.post-wrapper__post:hover {*/
  /*background: #0052cc;*/
  /*color: white;*/
/*}*/
/*.post-wrapper__post:hover__date, .post-wrapper__post:hover__category {*/
  /*color: white !important;*/
/*}*/
/*.post-wrapper__post:hover b {*/
  /*right: 20px;*/
  /*display: block;*/
  /*opacity: 1;*/
  /*color: white;*/
/*}*/
/*.post-wrapper__post:hover h3:before {*/
  /*content: '';*/
  /*width: 100px;*/
  /*margin-left: -30px;*/
/*}*/
/*.post-wrapper__post:hover img {*/
  /*opacity: 0.1;*/
/*}*/
